In [18]:
#print("hello")

import pandas as pd 
import seaborn as sns 

df = pd.read_csv("India_GDP_1960-2022.csv")
df.head()

,Unnamed: 0,India GDP - Historical Data,India GDP - Historical Data.1,India GDP - Historical Data.2,India GDP - Historical Data.3
0,NaN,Year,GDP,Per Capita,Growth
1,0.0,2021,"$3,173.40B","$2,277",8.95%
2,1.0,2020,"$2,667.69B","$1,933",-6.60%
3,2.0,2019,"$2,831.55B","$2,072",3.74%
4,3.0,2018,"$2,702.93B","$1,998",6.45%

In [20]:
#Dropping the first column

df.drop(columns= "Unnamed: 0", axis=1,inplace=True)

df.head()

,India GDP - Historical Data,India GDP - Historical Data.1,India GDP - Historical Data.2,India GDP - Historical Data.3
0,Year,GDP,Per Capita,Growth
1,2021,"$3,173.40B","$2,277",8.95%
2,2020,"$2,667.69B","$1,933",-6.60%
3,2019,"$2,831.55B","$2,072",3.74%
4,2018,"$2,702.93B","$1,998",6.45%

In [24]:
#Renaming the columns 

columns = {
    'India GDP - Historical Data' : 'Year',
    'India GDP - Historical Data.1'	: 'GDP',
    'India GDP - Historical Data.2'	: 'Per Capita',
    'India GDP - Historical Data.3' : 'Growth'

}

df.rename(columns=columns,inplace=True)

df.head()

   Year         GDP  Per Capita  Growth
0  Year         GDP  Per Capita  Growth
1  2021  $3,173.40B      $2,277   8.95%
2  2020  $2,667.69B      $1,933  -6.60%
3  2019  $2,831.55B      $2,072   3.74%
4  2018  $2,702.93B      $1,998   6.45%