In [1]:
#print("hello")

import pandas as pd 
import seaborn as sns 

df = pd.read_csv("India_GDP_1960-2022.csv")
df.head()

,Unnamed: 0,India GDP - Historical Data,India GDP - Historical Data.1,India GDP - Historical Data.2,India GDP - Historical Data.3
0,NaN,Year,GDP,Per Capita,Growth
1,0.0,2021,"$3,173.40B","$2,277",8.95%
2,1.0,2020,"$2,667.69B","$1,933",-6.60%
3,2.0,2019,"$2,831.55B","$2,072",3.74%
4,3.0,2018,"$2,702.93B","$1,998",6.45%

In [2]:
#Dropping the first column

df.drop(columns= "Unnamed: 0", axis=1,inplace=True)

df.head()

,India GDP - Historical Data,India GDP - Historical Data.1,India GDP - Historical Data.2,India GDP - Historical Data.3
0,Year,GDP,Per Capita,Growth
1,2021,"$3,173.40B","$2,277",8.95%
2,2020,"$2,667.69B","$1,933",-6.60%
3,2019,"$2,831.55B","$2,072",3.74%
4,2018,"$2,702.93B","$1,998",6.45%

In [3]:
#Renaming the columns 

columns = {
    'India GDP - Historical Data' : 'Year',
    'India GDP - Historical Data.1'	: 'GDP (in billion dollars)',
    'India GDP - Historical Data.2'	: 'Per Capita (in dollars)',
    'India GDP - Historical Data.3' : 'Growth'

}

df.rename(columns=columns,inplace=True)

df.head()

   Year GDP (in billion dollars) Per Capita (in dollars)  Growth
0  Year                      GDP              Per Capita  Growth
1  2021               $3,173.40B                  $2,277   8.95%
2  2020               $2,667.69B                  $1,933  -6.60%
3  2019               $2,831.55B                  $2,072   3.74%
4  2018               $2,702.93B                  $1,998   6.45%

In [4]:
#Remove the first row.

df.drop(index=0,inplace=True)

df

    Year GDP (in billion dollars) Per Capita (in dollars)  Growth
1   2021               $3,173.40B                  $2,277   8.95%
2   2020               $2,667.69B                  $1,933  -6.60%
3   2019               $2,831.55B                  $2,072   3.74%
4   2018               $2,702.93B                  $1,998   6.45%
5   2017               $2,651.47B                  $1,981   6.80%
..   ...                      ...                     ...     ...
58  1964                  $56.48B                    $116   7.45%
59  1963                  $48.42B                    $101   5.99%
60  1962                  $42.16B                     $90   2.93%
61  1961                  $39.23B                     $85   3.72%
62  1960                  $37.03B                     $82       %

[62 rows x 4 columns]

In [5]:
#Check for null values in the dataset
df.isnull().sum()

Year                        0
GDP (in billion dollars)    0
Per Capita (in dollars)     0
Growth                      0
dtype: int64

In [21]:
#Convert GDP and Per Capita columns in integer

df['GDP (in billion dollars)'] = df['GDP (in billion dollars)'].replace('[\$\,\.\"B"]', '', regex=True).astype(int)
df

df['Per Capita (in dollars)'] = df['Per Capita (in dollars)'].replace('[\$\,\.]','',regex=True).astype(int)
df['Growth'] = df['Growth'].replace(["%"], ["0%"])

df['Growth'] = df['Growth'].replace('[\"%"\.\""]', '', regex=True).astype(int)

<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:6: SyntaxWarning: invalid escape sequence '\$'
<>:9: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:6: SyntaxWarning: invalid escape sequence '\$'
<>:9: SyntaxWarning: invalid escape sequence '\.'
C:\Users\Surya\AppData\Local\Temp\ipykernel_12360\1871020938.py:3: SyntaxWarning: invalid escape sequence '\$'
  df['GDP (in billion dollars)'] = df['GDP (in billion dollars)'].replace('[\$\,\.\"B"]', '', regex=True).astype(int)
C:\Users\Surya\AppData\Local\Temp\ipykernel_12360\1871020938.py:6: SyntaxWarning: invalid escape sequence '\$'
  df['Per Capita (in dollars)'] = df['Per Capita (in dollars)'].replace('[\$\,\.]','',regex=True).astype(int)
C:\Users\Surya\AppData\Local\Temp\ipykernel_12360\1871020938.py:9: SyntaxWarning: invalid escape sequence '\.'
  df['Growth'] = df['Growth'].replace('[\"%"\.\""]', '', regex=True).astype(int)

In [22]:
df.dtypes

Year                        object
GDP (in billion dollars)     int32
Per Capita (in dollars)      int32
Growth                       int32
dtype: object